body{
    background-color: rgb(245, 250, 247);
    background: blanchedalmond;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: 1480px 900px;
}
.card{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
}
/* navbar */
.navbar {
    padding: 25px;
    padding-top: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    padding-left: 25px;
    opacity: 0.;
    border-style: solid;
    border-color: darkgray;
    border-width: 5px;
}

h1 {
    text-align: center;
    color: gray;
    font-family: 'Righteous', cursive;
}
.bg-dark {
    background-color:  rgba(0, 0, 0, 0.76);
}

/* Card/Pricetitle */
.card-body{
    padding: 10px;
    border: 4px solid rgb(66, 222, 233);
    margin: 0;
}
/* //searchbutton// */
.btn-outline-success {
    color: #10efa0;
    border-color: #0e77de;
}
/* homebutton */
.navbar-dark .navbar-nav .active>.nav-link, .navbar-dark .navbar-nav .nav-link.active, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .show>.nav-link {
    color: #12efa0;
}

.col-lg-4{
    border: 1px solid powderblue;
    padding: 30px;
    justify-content: center;
}
.navbar{
    padding: 25px;
    opacity: 0.8;
}

.navbar-brand{
    font-size: 34px ;

}
.nav-link{
    border-right-style: solid;
    border-right-width:1px;
    border-right-color: red;
    padding: 1px;
}

footer {
    background: gray;
    padding: 50px;
    position: relative;
    bottom: 0;
    width: 100%;
    border-style: solid;
    border-color: darkgray;
    border-width: 5px;
}

#info {
    height: 800px;
}

#about {
    width: 50%;
    position: relative;
    left: 350px;
}

#text {
    color: purple;
    font-size: 25px;
    font-family: 'Lobster', cursive;
}

#home-image { 
    position: relative;
    left: 350px;
    border-style: groove;
    border-width: 10px;
    border-color: plum;
}

function displayInfo() {

    var queryURL = "https://cors-anywhere.herokuapp.com/http://api.eventful.com/json/events/search?app_key=ZM6QM7Wzsb7rrLZD&keywords=books&location=Charlotte&date=This+Week&within=15&sort_order=popularity&page_size=6&page_number=1";
    $.ajax({
        url: queryURL,
        method: "GET"
    })
        .then(function (response) {

            var jsonResponse = JSON.parse(response);

            console.log(jsonResponse.events);

            var title = jsonResponse.events.event[0].title;
            var startTime = jsonResponse.events.event[0].start_time;
            var venue = jsonResponse.events.event[0].venue_name;
            var address = jsonResponse.events.event[0].venue_address;
            var venueSite = jsonResponse.events.event[0].venue_url;

            $(".card-title").text(title);
            $(".list-group-item").text("Date/Time: " + startTime);
            $("#two").text("Venue: " + venue);
            $("#three").text("Address: " + address);

            var a = $("<a>");
            a.attr("href", venueSite);

            $(".card-body").append(a);

        });

};

displayInfo();